/*
 * FriendlyARM's Exynos4412 based TINY4412 board device tree source
 *
 * Copyright (c) 2013 Alex Ling <kasimling@gmail.com>
 *
 * Device tree source file for FriendlyARM's TINY4412 board which is based on
 * Samsung's Exynos4412 SoC.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
*/

/dts-v1/;
#include "exynos4412.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "FriendlyARM TINY4412 board based on Exynos4412";
	compatible = "friendlyarm,tiny4412", "samsung,exynos4412", "samsung,exynos4";

	chosen {
		stdout-path = &serial_0;
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0x40000000 0x40000000>;
	};

	leds {
		compatible = "gpio-leds";

		led1 {
			label = "led1";
			gpios = <&gpm4 0 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "heartbeat";
		};

		led2 {
			label = "led2";
			gpios = <&gpm4 1 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led3 {
			label = "led3";
			gpios = <&gpm4 2 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led4 {
			label = "led4";
			gpios = <&gpm4 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
			linux,default-trigger = "mmc0";
		};
	};

	fixed-rate-clocks {
		xxti {
			compatible = "samsung,clock-xxti";
			clock-frequency = <0>;
		};

		xusbxti {
			compatible = "samsung,clock-xusbxti";
			clock-frequency = <24000000>;
		};
	};
    
    lcd {
        compatible = "samsung,dpi";
        
        panel-width-mm = <90>;
        panel-height-mm = <154>;
        
        display-timings {
            timing {
                clock-frequency = <33000000>;
                hactive = <800>;
                vactive = <480>;
                hback-porch = <46>;
                hfront-porch = <210>;
                vback-porch = <20>;
                vfront-porch = <22>;
                hsync-len = <2>;
                vsync-len = <1>;
                hsync-active = <40>;
                vsync-active = <22>;
                de-active = <0>;
                pixelclk-active = <0>;
            };
        };
        port {
            lcd_ep: endpoint {
                remote-endpoint = <&fimd_dpi_ep>;
            };
        };
    };
};

&i2c_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	samsung,i2c-sda-delay = <100>;
	samsung,i2c-max-bus-freq = <20000>;
	pinctrl-0 = <&i2c1_bus>;
	pinctrl-names = "default";
	status = "okay";

    touchscreen@38 {
		compatible = "edt,edt-ft5x06";
		reg = <0x38>;
		interrupt-parent = <&gpx1>;
		interrupts = <6 IRQ_TYPE_EDGE_FALLING>;
		touchscreen-size-x = <800>;
		touchscreen-size-y = <480>;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};
};

&fimd {
	pinctrl-0 = <&lcd_clk &lcd_data24>;
	pinctrl-names = "default";
	status = "okay";
    samsung,invert-vden;
	samsung,invert-vclk;
	#address-cells = <1>;
	#size-cells = <0>;

    port@3 {
		reg = <3>;
		fimd_dpi_ep: endpoint {
			remote-endpoint = <&lcd_ep>;
		};
	};
};

&rtc {
	status = "okay";
};

&mshc_0 {
	status = "okay";
    non-removable;
	broken-cd;
	card-detect-delay = <200>;
	samsung,dw-mshc-ciu-div = <3>;
	samsung,dw-mshc-sdr-timing = <1 1>;
	samsung,dw-mshc-ddr-timing = <1 1>;
	samsung,read-strobe-delay = <90>;
	bus-width = <8>;
	cap-mmc-highspeed;
};

&exynos_usbphy {
	status = "okay";
};

&ehci {
	samsung,vbus-gpio = <&gpx3 5 1>;
	status = "okay";

	port@1{
		status = "okay";
	};
	port@2 {
		status = "okay";
	};
};

&sdhci_2 {
	bus-width = <4>;
	pinctrl-0 = <&sd2_clk &sd2_cmd &sd2_cd &sd2_bus4>;
	pinctrl-names = "default";
	status = "okay";
};

&serial_0 {
	status = "okay";
    /delete-property/dmas;
    /delete-property/dma-names;
};

&serial_1 {
	status = "okay";
    /delete-property/dmas;
    /delete-property/dma-names;
};

&serial_2 {
	status = "okay";
    /delete-property/dmas;
    /delete-property/dma-names;
};

&serial_3 {
	status = "okay";
    /delete-property/dmas;
    /delete-property/dma-names;
};
